
<select id="tabletable_<%= @dbname %>" onchange="selectDB('<%= @dbname %>', <%= @tabindex %>);" size=<%= @table_list.size %>">

  <% @table_list.each do |table| %>
  <option value="<%= table[0] %>"><%= table[0] %></option>
  <% end %>

</select>

<div id="schemaarea-<%= @tabindex %>" class="schemaarea">

</div>